= simple_form_for @form do |f|
  %fieldset
    = f.fields_for :condition_group do |cg_form|
      = render partial: 'post_commit_actions/shared/form/condition_group_fields', locals: {f: cg_form, level: 0}
  = f.button :submit